<header class="bg-white border-b border-b-[#e72929]">
    <div class="flex justify-between mx-auto">
        <a href="#" routerLink="/" class="font-bold p-[1em]">Food Mine!</a>
    <nav>
        <ul>
            <li>
                <a href="#" routerLink="/cart-page"
                class="text-[#af1313]
                    p-[1em] inline-block
                
                hover:bg-[#e72929] hover:text-white"
                >Cart</a>
            </li>
        </ul>
    </nav>
    </div>

</header>