<header class="bg-white border-b border-b-[#e72929]">
    <div class="flex justify-between mx-auto">
        <a href="#" routerLink="/" class="p-3 text-4xl font-bold">Food Mine!</a>
    <nav>
        <ul>
            <li class="flex items-center justify-center h-[70px] hover:bg-[#e72929] hover:text-white text-[#af1313]">
                <a href="#" routerLink="/cart-page"
                class="
                p-3 inline-block
                "
                >Cart</a>
            </li>
        </ul>
    </nav>
    </div>

</header>