/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}
html{
    /* make rem more predictable */
    font-size: 16px;
}
body{
    font-size: 18px;
}

.fill-red {
    color: #e72929;
}
.fill-red svg {
    fill: #e72929;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
